h1 {
  color: navy;
  text-align: center;
}
#container {
  width: 1000px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
}
.about {
  width: 400px;
  height: 480px;
  float: left;
}
.interest {
  height: 300px;
  clear: both;
}
.coding {
  height: 120px;
  clear: both;
}
.projects  {
  width: 450px;
  height: 480px;
  float: right;
}
.ambition {
  color: red;
}
.intro {
  color: brown;
  font-style: normal;
}
#name {
  height: 50px;
}
.image {
  width: 130px;
  width: 130px;
}
body {
  background-color: powderblue;
}