h1 {
  color: navy;
  text-align: center;
}
img {
  max-width: 200px;
  max-height: 250px;
  float: left;

}
.intro {
  color: brown;
  font-style: normal;
}
.chapter {
  color: blue;
}
.sidebar2 {
  background-color: burlywood;
  width: 500px;
}
.sidebar3 {
  background-color: pink;
  width: 500px;
}
.sidebar4 {
  width: 500px;
  background-color: greenyellow;
}
.ambition {
  color: red;
}
body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.box  {
  background-color: greenyellow;
  border: solid red;
  padding: 10x;

}