h1 {
  color: navy;
  text-align: center;
}
#container {
  width: 1000px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
}
.about {
  background-color: burlywood;
  width: 400px;
  border: solid red;
  height: 480px;
  float: left;
}
.interest {
  background-color: pink;
  border: solid blue;
  height: 300px;
  clear: both;
}
.coding {
  background-color: greenyellow;
  border: solid green;
  height: 120px;
  clear: both;
}
.projects  {
  background-color: greenyellow;
  border: solid red;
  width: 450px;
  height: 480px;
  float: right;
}
.ambition {
  color: red;
}
.intro {
  color: brown;
  font-style: normal;
}
#name {
  border: solid blueviolet;
  height: 50px;
}
.image {
  width: 120px;
}
